# Hand-on Project: Xử lý dữ liệu với Python

In [43]:
import json
from datetime import date, timedelta, datetime
import pandas as pd
import requests

## 1. Lấy dữ liệu tỷ giá 

source: https://www.vietcombank.com.vn/vi-VN/KHCN/Cong-cu-Tien-ich/Ty-gia

url: https://www.vietcombank.com.vn/api/exchangerates?date=2023-12-31

In [25]:
url = 'https://www.vietcombank.com.vn/api/exchangerates?date=2023-12-31'

In [26]:
# Get dữ liệu từ url chứa dữ liệu tỷ giá
raw = requests.get(url)

In [27]:
# Lấy dữ liệu được trả về và lưu vào raw_string
raw_string = raw.text

In [65]:
# Dữ liệu là dạng string, transform dữ liệu sang dạng dict để tạo DataFrame
raw_dict = json.loads(raw_string)

In [30]:
# Extract dữ liệu tỷ giá từ raw_dict
raw_exchange_data = raw_dict['Data']

In [ ]:
# list của dict trong đó mỗi dict gồm currencyName, currencyCode, cash, transfer, sell
raw_exchange_data

In [59]:
# Tạo DataFrame từ dữ liệu thô
raw_df = pd.DataFrame(raw_exchange_data)

In [64]:
raw_df.head()

,currencyName,currencyCode,cash,transfer,sell,icon
0,US DOLLAR,USD,24050.00,24080.00,24420.00,/-/media/Default-Website/Default-Images/Icons/...
1,EURO,EUR,26106.45,26370.15,27539.95,/-/media/Default-Website/Default-Images/Icons/...
2,POUND STERLING,GBP,30014.50,30317.68,31292.63,/-/media/Default-Website/Default-Images/Icons/...
3,YEN,JPY,166.10,167.78,175.83,/-/media/Default-Website/Default-Images/Icons/...
4,AUSTRALIAN DOLLAR,AUD,16074.05,16236.41,16758.54,/-/media/Default-Website/Default-Images/Icons/...

### 2. Xử lý dữ liệu thô 
- B1: drop cột icon
- B2: rename toàn bộ các cột
- B3: format lại kiểu dữ liệu của 3 cột cash, transfer, sell và thêm cột date vào cuối dataframe

In [75]:
df = raw_df.copy()
df.drop(columns=['icon'], inplace=True)

In [76]:
df

         currencyName currencyCode      cash  transfer      sell
0           US DOLLAR          USD  24050.00  24080.00  24420.00
1                EURO          EUR  26106.45  26370.15  27539.95
2      POUND STERLING          GBP  30014.50  30317.68  31292.63
3                 YEN          JPY    166.10    167.78    175.83
4   AUSTRALIAN DOLLAR          AUD  16074.05  16236.41  16758.54
5    SINGAPORE DOLLAR          SGD  17899.87  18080.68  18662.12
6       THAILAND BAHT          THB    623.62    692.91    719.50
7     CANADIAN DOLLAR          CAD  17836.38  18016.54  18595.92
8         SWISS FRANC          CHF  28141.46  28425.72  29339.84
9     HONGKONG DOLLAR          HKD   3025.75   3056.31   3154.59
10      YUAN RENMINBI          CNY   3340.77   3374.51   3483.56
11       DANISH KRONE          DKK      0.00   3528.77   3664.18
12       INDIAN RUPEE          INR      0.00    290.73    302.37
13         KOREAN WON          KRW     16.14     17.94     19.56
14      KUWAITI DINAR          KWD      0.00  78716.27  81869.33
15  MALAYSIAN RINGGIT          MYR      0.00   5226.60   5340.99
16   NORWEGIAN KRONER          NOK      0.00   2333.90   2433.17
17      RUSSIAN RUBLE          RUB      0.00    256.80    284.30
18         SAUDI RIAL          SAR      0.00   6448.95   6707.27
19      SWEDISH KRONA          SEK      0.00   2366.90   2467.57

In [77]:
df.columns = ['Currency Name', 'Currency Code', 'Cash', 'Transfer', 'Sell']

In [78]:
df['Cash'] = df['Cash'].astype(float)
df['Transfer'] = df['Transfer'].astype(float)
df['Sell'] = df['Sell'].astype(float)

In [82]:
datetime_object = datetime.strptime(raw_dict['Date'], '%Y-%m-%dT%H:%M:%S')
formatted_date = datetime_object.strftime('%d-%m-%Y')

In [ ]:
df.insert(5, "Date", formatted_date)

In [81]:
df

        Currency Name Currency Code      Cash  Transfer      Sell        Date
0           US DOLLAR           USD  24050.00  24080.00  24420.00  31-12-2023
1                EURO           EUR  26106.45  26370.15  27539.95  31-12-2023
2      POUND STERLING           GBP  30014.50  30317.68  31292.63  31-12-2023
3                 YEN           JPY    166.10    167.78    175.83  31-12-2023
4   AUSTRALIAN DOLLAR           AUD  16074.05  16236.41  16758.54  31-12-2023
5    SINGAPORE DOLLAR           SGD  17899.87  18080.68  18662.12  31-12-2023
6       THAILAND BAHT           THB    623.62    692.91    719.50  31-12-2023
7     CANADIAN DOLLAR           CAD  17836.38  18016.54  18595.92  31-12-2023
8         SWISS FRANC           CHF  28141.46  28425.72  29339.84  31-12-2023
9     HONGKONG DOLLAR           HKD   3025.75   3056.31   3154.59  31-12-2023
10      YUAN RENMINBI           CNY   3340.77   3374.51   3483.56  31-12-2023
11       DANISH KRONE           DKK      0.00   3528.77   3664.18  31-12-2023
12       INDIAN RUPEE           INR      0.00    290.73    302.37  31-12-2023
13         KOREAN WON           KRW     16.14     17.94     19.56  31-12-2023
14      KUWAITI DINAR           KWD      0.00  78716.27  81869.33  31-12-2023
15  MALAYSIAN RINGGIT           MYR      0.00   5226.60   5340.99  31-12-2023
16   NORWEGIAN KRONER           NOK      0.00   2333.90   2433.17  31-12-2023
17      RUSSIAN RUBLE           RUB      0.00    256.80    284.30  31-12-2023
18         SAUDI RIAL           SAR      0.00   6448.95   6707.27  31-12-2023
19      SWEDISH KRONA           SEK      0.00   2366.90   2467.57  31-12-2023

## 3. Hàm lấy tỷ giá

In [97]:
def get_exchange_data(ngaycanlay):
    """Hàm lấy tỷ giá từ Vietcombank.
    
    Args:
    ----
        ngaycanlay (str): ngày cần lấy dữ liệu tỷ giá, format: YYYY-MM-DD.
    
    Returns:
    ----
        pd.DataFrame chứa dữ liệu tỷ giá của ngày cần lấy.
    """
    url = f'https://www.vietcombank.com.vn/api/exchangerates?date={ngaycanlay}'
    raw = requests.get(url)
    raw_string = raw.text
    raw_dict = json.loads(raw_string)
    raw_exchange_data = raw_dict['Data']
    raw_df = pd.DataFrame(raw_exchange_data)

    df = raw_df.copy()
    df.drop(columns=['icon'], inplace=True)
    df.columns = ['Currency Name', 'Currency Code', 'Cash', 'Transfer', 'Sell']
    df['Cash'] = df['Cash'].astype(float)
    df['Transfer'] = df['Transfer'].astype(float)
    df['Sell'] = df['Sell'].astype(float)
    datetime_object = datetime.strptime(raw_dict['Date'], '%Y-%m-%dT%H:%M:%S')
    formatted_date = datetime_object.strftime('%d-%m-%Y')
    df.insert(5, "Date", formatted_date)
    
    return df

In [99]:
get_exchange_data('2024-1-25')

        Currency Name Currency Code      Cash  Transfer      Sell        Date
0           US DOLLAR           USD  24400.00  24430.00  24770.00  25-01-2024
1                EURO           EUR  26064.09  26327.37  27494.63  25-01-2024
2      POUND STERLING           GBP  30457.65  30765.30  31753.90  25-01-2024
3                 YEN           JPY    161.55    163.18    170.99  25-01-2024
4   AUSTRALIAN DOLLAR           AUD  15752.55  15911.67  16422.97  25-01-2024
5    SINGAPORE DOLLAR           SGD  17894.15  18074.90  18655.71  25-01-2024
6       THAILAND BAHT           THB    608.03    675.58    701.49  25-01-2024
7     CANADIAN DOLLAR           CAD  17722.19  17901.20  18476.44  25-01-2024
8         SWISS FRANC           CHF  27741.94  28022.16  28922.61  25-01-2024
9     HONGKONG DOLLAR           HKD   3066.55   3097.52   3197.06  25-01-2024
10      YUAN RENMINBI           CNY   3368.98   3403.01   3512.89  25-01-2024
11       DANISH KRONE           DKK      0.00   3522.20   3657.27  25-01-2024
12       INDIAN RUPEE           INR      0.00    295.19    307.01  25-01-2024
13         KOREAN WON           KRW     15.93     17.70     19.31  25-01-2024
14      KUWAITI DINAR           KWD      0.00  79749.47  82941.98  25-01-2024
15  MALAYSIAN RINGGIT           MYR      0.00   5146.25   5258.76  25-01-2024
16   NORWEGIAN KRONER           NOK      0.00   2301.52   2399.36  25-01-2024
17      RUSSIAN RUBLE           RUB      0.00    263.78    292.02  25-01-2024
18         SAUDI RIAL           SAR      0.00   6541.41   6803.27  25-01-2024
19      SWEDISH KRONA           SEK      0.00   2307.05   2405.12  25-01-2024